/* .pageContainer {
} */

.heading {
  color: rgb(8, 140, 140);
}

.courseGrid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  row-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  justify-items: center;
  justify-content: space-evenly;
}
