.App {
  text-align: center;
}
.rowC {
  display:flex;
  flex-direction:row;
  background-color: blueviolet;
}
.tree {
  width: 96%;
  background-color: cadetblue;
  margin: 2%;
}
.article {
  display: none;
  margin: 2%;
  background-color: bisque;
  width: 20%;
  height: 80%;
  overflow-y: scroll;
}