.App {
  text-align: center;
}
/* .rowC {
  display:flex;
  flex-direction:row;
  background-color: blueviolet;
} */
.tree {
  width: 96%;
  margin: 2%;
}
.article {
  display: none;
  margin: 2%;
  width: 96%;
  overflow-y: scroll;
}
.treeViewerContainer {
}