.treeContainer {
  overflow: visible;
  display: block;
  width: 100vw;
  height: 80vh;
  min-height: 700px;
  padding-left: 27%;
  margin-left: 70px;
  margin-top: 350px;
  /*padding-top: 25%;*/
  padding-bottom: 0%;
}
