.treeContainer {
  height: calc(100vh - 140px);
  min-height: 700px;
  justify-content: center;
  display: flex;
  align-items: center;
  /*width: 100vw;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding-bottom: 2em;*/
}

.tree {
  overflow: visible;
  height: 1px;
  width: 1px;
}
